<% include header.ejs %>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-bordered table-striped mb-0">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">Gmail</th>
      <th scope="col">Phone no</th>
    </tr>
  </thead>
  <tbody>
    <% employee.forEach(function(emp){ %>
    <tr>
      <td><%= emp.name %></td>
      <td><%= emp.city %></td>
      <td><%= emp.gmail %></td>
      <td><%= emp.phoneno %></td>
    <% }) %>
  </tbody>
</table>
</div>
<% include footer.ejs %>
